:root {
  --main-bg-color: #fff;
  --main-color: #323234;
  --main-m-color: #c1c;

  --main-rbg: 250, 250, 250;
  --main-light: rgba(var(--main-rbg), 0.1); 
  --main-dark: rgba(var(--main-rbg), 0.7);
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #323234;
    --main-color: #fff;
    --main-m-color: #c1c;

    --main-rbg: 25, 25, 25;
    --main-light: rgba(var(--main-rbg), 0.1); 
    --main-dark: rgba(var(--main-rbg), 0.7);
  }
}

body, html {
  background: var(--main-bg-color);
  color: var(--main-color);

  min-height: 17rem;
  min-width: 20rem;
}

#app {
  display: flex;
  flex-direction: column;
  font-family: Roboto,sans-serif;
}

.menu, .content {
  display: flex;
  width: 100%;
}

.content {
  height: calc( 100vh - 2rem );
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}
