nav {
  display: flex;
  &.menu {
    height: 2rem;
  }
  .big {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  svg {
    color: var(--main-color);
  }

  button {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    background: transparent;
    border: 0;
    cursor: pointer;

    &[disabled]{
      opacity: .3;
    }

    > span {
      display: none;
    }

    &.nav-button {
      padding: 0 1rem;
    }
  }
}
